* {
    padding: 0;
    margin: 0;
    font-family: Georgia;    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.cabecalho {
    background-color: #069e2a;
    color: #fff;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-title h2 {
    margin: 0;
    flex-grow: 1; 
}

nav {
    flex-grow: 1; 
    text-align: center; 
}

nav ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

nav ul.menu li {
    margin: 0;
}

nav ul.menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}

nav ul.menu li a:hover {
    border-bottom: 1px solid #fff;
}
.fut-home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
    
}

.navigator {
    font-size: 15px;
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: 20px;
}


.fut-home {
    position: relative; 
}

.main-image {
    position: relative; 
    max-width: 100%;
    object-fit: cover;
    margin-top: 50px;
    margin-left: -5%;
}

.main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
    margin-left: -5%;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 0;
    margin-left: -5%;
}

.btn-see-more {
    display: inline-block;
    background-color: #fff;
    color: #222; 
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px; 
    text-decoration: none;
    border: 2px solid #222;
    border-radius: 5px;
    margin-top: 20px; 
    margin-left: 43%;
}

.btn-see-more:hover {
    background-color: #222;
    border: 2px solid #fff;
    color: #fff;
}

.informacoes {
    position: absolute;
    top: 70%; 
    left: 12%; 
    color: #fff;
}

#teams h2 {
    padding: 50px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium' ;
    text-align: center;
    margin: 40px;
}

.teams-logo-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 100px;
}

.teams-logo-container img {
    max-width: 100px; 
    max-height: 100px;
    margin-right: 10px; 
    cursor: pointer;
}


#posts {
    background-color: #222;
    padding: 20px;
}

#posts h2{
    padding: 10px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.fut-cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 0px;
    margin-bottom: 10%;
    background-color: #222;
    color: #fff;
    padding: 25px;
}

.post {
    width: calc(20% - 20px);
    box-sizing: border-box;
    margin-top: 20px;
    
}

.post a{
    color: #fff;
}

.post a:hover {
    color: #ec0e0e;
}

.post img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
}

.post .category-post {
    display: inline-block;
    background-color: #fff;
    color: #222;
    text-align: center;
    border-radius: 5%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;

}

.post .title {
    margin-top: 10px;
}

.title a {
    font-size: 20px;
    color: #fff;
}

.title a:hover{
    color: #ec0e0e;
}


.title,
.description,
.update {
    margin-bottom: 10px;
}


.btn-posts {
    display: inline-block;
    position: relative;
    background-color: #fff;
    color: #555; 
    font-family: Helvetica;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px; 
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px; 
    margin-left: 46%;
    top: -100px;
}

.btn-posts:hover {
    background-color: #222;
    color: #fff;
}

#footer {
    background-color: #069e2a;
    border-top: 2px solid #fff;
    padding: 10px;
    color: #fff;
}

#footer h2 {
    font-size: 30px;
    text-align: center;
}

.nav-footer ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 15px;
}

.nav-footer a {
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

.nav-footer a:hover {
    color: #ec0e0e;
}

#footer p {
    text-align: center;
}